extends baseEmail

block content  
  p= `Hi ${firstName},`
    p We have got a request to reset your password!! Please do so by clicking on the button below!!(Valid for only 10 minutes)
    p Note: If you have not requested than please ignore this email!!
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Click here to reset your password
    p If you need any help!! Please don't hesisate to contact us!!
    p - Web Team, Version'24